{% extends 'base_book.html' %}
{% block content %} 
{% load dropdown_passes %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<form method="POST" class="d-flex justify-content-center">

  <div class="col-6">
    <h1 class="text-center pt-3 pb-5">Book Observation Time <i class="fas fa-satellite-dish"></i></h1>
    <!-- <a href="./list " class="text-center text-secondary">List</a> -->

    {% csrf_token %}
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label"><b>Satellite Name or NORAD ID</b></label>
        <div class="d-flex w-100">
            <div class="dropdown d-inline d-flex w-100 mb-3">
                <div class="w-100 d-flex">
                    <button class="btn border dropdown-toggle flex-fill text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Satellite
                    </button>
                    <input type="text" class="form-control d-none" id="sat-name" placeholder="Another input placeholder" name="sat_id">


                    <a href="/list" class="btn color-2 text-light"><i class="fas fa-list"></i></a>
                    <ul class="dropdown-menu pt-0 w-100" aria-labelledby="dropdownMenuButton1">
                        <li class="d-flex">
                            <input class="form-control" style="border-radius:0px" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn border-bottom rounded-none" type="submit">Search</button>
                        </li>
                        {% for sat in satellite %}
                        <li>
                            <a class="dropdown-item" href="#" onclick="name = $(this).find('.target-name').text();id = $(this).find('.target-id').text();dropdown = $(this).closest('.dropdown').find('.dropdown-toggle'); dropdown.text(name);$('#sat-name').val(id)">
                                <span class="target-id">{{sat.satellite_id.norad_id}}</span>
                                &nbsp;|&nbsp;
                                <span class="target-name">{{sat.satellite_id.name}}</span>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="mb-3 w-100 text-start">
            <label for="formGroupExampleInput2" class="form-label d-block"><b>Starting Time</b></label>
            <!-- Example single danger button -->
            <div class="btn-group w-100">
              <button type="button" class="btn border dropdown-toggle d-block w-100 text-start" data-bs-toggle="dropdown" aria-expanded="false">
                Select Pass
            </button>
            <ul class="dropdown-menu overflow-scroll" style="max-height: 70vh;">
                {% get_next_passes_info "QMR-kWT" as passes %}
                {% for p in passes %}
                <li><a class="dropdown-item" href="#"><b>Date: </b>{{p.0}}</a></li>
                <li><a class="dropdown-item" href="#"><b>Rising time: </b>{{p.1}}</a></li>
                <li><a class="dropdown-item" href="#"><b>Setting time: </b>{{p.2}}</a></li>
                <li><a class="dropdown-item" href="#"><b>Maximum elevation: </b>{{p.3}}</a></li>
                <li><hr class="dropdown-divider"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col align-self-end d-flex justify-content-end">
        <button class="btn border color-2 text-light" value="Save">Save</button>
    </div>
</div>
</div>
</form>

{% endblock %}