{% extends 'base.html' %}
{% block content %}
<a href="add">add</a>
<a href="booking/">Booking</a>
<a href="logout/">logout</a>
{{ username }}

<table class="table table-striped table-hover border col-12">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">NORAD ID</th>
      <th scope="col">Name</th>
      <th scope="col">Frequency</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
{% for sat in satellites %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{sat.satellite_id.norad_id}}</td>
      <td>{{sat.satellite_id.name}}</td>
      <td>{{ sat.satellite_id.frequency }}</td>
      <td>{{ sat.satellite_id.status }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>


 {% endblock %}