{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- <h1>LOGIN</h1> -->
<!-- <a href="register/">Register</a> -->
<section class="d-flex justify-content-center m-5">
    <div class="card shadow" style="width:80vh;">
        <form method="POST">
            {% csrf_token %}
            <div class="w-100 overflow-hidden position-relative">
                <img src="{% static 'images/space_challenges_planet.jpg' %}" class="card-img-top img-fluid" alt="...">
                <div class="position-absolute translate-middle start-50" style="top:48.5%">
                    <span style="font-size: 10vmin" class="position-relative">
                        &nbsp;<i class="fas fa-satellite-dish fa-lg"></i>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your name" name="username"  required>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Your password" name="password" required>
                </div>
                <div class="row">   
                    <div class="col"></div>
                    <div class="col align-self-end d-flex justify-content-end">
                        <button class="btn border color-3 text-light" value="Save">Login <i class="fas fa-key fa-sm"></i></button>
                    </div>
                    <!-- <input type="submit" value="Login"/> -->
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}