{% extends 'base.html' %}
{% block content %}
<h1>LOGIN</h1>
<a href="register/">Register</a>

<form method="POST">
    {% csrf_token %}

<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Username</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" name="username">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" name="password">
  </div>

<input type="submit" value="Save"/>
</form>

<section class="d-flex justify-content-center w-100">
    <div class="col-6">
        <form>
            <label>Select Target Satellite:</label>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton1">
                    <li class="d-flex">
                        <input class="form-control" style="border-radius:0px" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn border-bottom rounded-none" type="submit">Search</button>
                    </li>
                    {% for sat in sat %}

                    <li><a class="dropdown-item" href="#">{{sat.norad_id}}</a></li>
                     {% endfor %}
                </ul>
            </div>
        </form>
    </div>

</section>

{% endblock %}